:root {
  --shadow-button-purple: 0.00px 1.00px 20px 0px rgba(125, 43, 196, 1);
  --background-button-purple: rgb(152, 73, 222);
  --color-purple: rgba(125, 43, 196, 1);
  --background-color-black: rgb(35, 35, 35);
}

body {
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: var(--background-color-black);
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.4s;
}

a:hover {
  color: var(--color-purple);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: 0.4s;
}
.button-main {
  border-radius: 25px;
  height: 45px;
  width: 165px;
  color: white;
  background-color: var(--background-button-purple);
  box-shadow: var(--shadow-button-purple);
}
.button-main:hover {
  color: var(--color-purple);
  background-color: white;
  box-shadow: 0px 1px 20px 0px rgb(219, 191, 241);
}
.button-main--small {
  height: 40px;
  width: 130px;
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-inline: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 25px;
}
.menu__basket {
  position: relative;
}
.menu__basket:before {
  content: " ";
  position: absolute;
  z-index: 100;
  top: -12.5px;
  left: -12.5px;
  height: 25px;
  width: 25px;
  color: white;
  transition-duration: 0.4s;
  background: url("./src/icon/basket.svg") center/contain no-repeat;
}
.menu__basket:hover::before {
  background: url("./src/icon/basket-hover-purple.svg") center/contain no-repeat;
}

.title {
  font-weight: 500;
}
.title--big {
  font-size: clamp(33px, 7vw, 75px);
}
.title--primary {
  line-height: clamp(40px, 6vw, 60px);
  font-size: clamp(30px, 5.2vw, 50px);
}

.subtitle {
  font-family: helvetica-w01-roman;
  font-size: 17px;
}

.watch-functions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.watch-functions__icon {
  height: 70px;
  width: 70px;
}
.watch-functions__text {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.3em;
  font-family: helvetica-w01-roman;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: clamp(280px, 52vw, 478px);
}

.header {
  position: relative;
  transition-duration: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes headerSticky {
  from {
    top: -50px;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes headerDefault {
  from {
    opacity: 1;
  }
  to {
    top: -50px;
    opacity: 0;
  }
}
.header__container {
  min-height: 83px;
  width: 90%;
  flex-wrap: wrap;
  align-items: center;
  background-color: transparent;
}

.background-top {
  height: 1080px;
  background: linear-gradient(143deg, rgb(105, 54, 101) 0%, rgba(86, 47, 80, 0.92) 0%, rgb(35, 35, 35) 15%, rgb(35, 35, 35) 98%);
}

.logo--block {
  position: relative;
  left: 50px;
  width: 200px;
}
.logo--block::before {
  content: " ";
  position: absolute;
  z-index: 100;
  top: 7.5px;
  left: -35px;
  height: 25px;
  width: 25px;
  color: white;
  transition-duration: 0.4s;
  background: url("./src/icon/logo-icon.svg") center/contain no-repeat;
}
.logo--block:hover::before {
  transition: 0.4s;
  content: "";
  background: url("./src/icon/logo-icon-hover-purple.svg") center/contain no-repeat;
}

.logo--link {
  font-size: 27px;
  line-height: 1.5em;
}

.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  right: 0;
  z-index: 100;
  top: 100px;
  height: 75%;
  width: 420px;
  opacity: 0;
  font-family: helvetica-w01-roman;
  background-color: black;
}
.sidebar__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  color: black;
  border-radius: 15px 15px 0 0;
  background-color: white;
}
.sidebar__title {
  font-size: 23px;
  font-weight: 400;
}
.sidebar__cross {
  position: absolute;
  right: 50px;
}
.sidebar__cross:hover:before {
  background: url("./src/icon/cross-hover-gray.svg") center/contain no-repeat;
}
.sidebar__cross:before {
  content: " ";
  position: absolute;
  z-index: 100;
  top: -12.5px;
  left: 0px;
  height: 25px;
  width: 25px;
  color: white;
  transition-duration: 0.4s;
  background: url("./src/icon/cross.svg") center/contain no-repeat;
}
.sidebar__footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  padding: 20px;
  bottom: 0px;
  left: 0;
  height: 180px;
  width: 100%;
}
.sidebar__total-sum {
  display: flex;
  justify-content: space-between;
}
.sidebar__sum-text {
  font-size: 20px;
}
.sidebar button:not(.sidebar__button-cross) {
  height: 42px;
  width: 100%;
  letter-spacing: 1px;
}
.sidebar__button--purple {
  color: white;
  background-color: var(--background-button-purple);
  border: 1px solid var(--color-purple);
}
.sidebar__button--purple:hover {
  background-color: rgb(112, 54, 164);
}
.sidebar__button--white {
  color: var(--color-purple);
  background-color: white;
  border: 1px solid var(--color-purple);
}
.sidebar__button--white:hover {
  background-color: #ffdaff;
}

.sidebar.sidebar-active {
  animation: 0.5s sidebar-active ease;
  opacity: 1;
}

.sidebar-not-active {
  animation: 0.5s sidebar-not-active ease;
}

@keyframes sidebar-active {
  from {
    right: -50px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}
@keyframes sidebar-not-active {
  from {
    right: 0px;
    opacity: 1;
  }
  to {
    right: -50px;
    opacity: 0;
  }
}
.banner {
  position: relative;
  z-index: 1;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__container {
  width: 90%;
  align-items: center;
}
.banner__content {
  position: relative;
  display: flex;
  left: 25px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0px 100px 100px rgba(0, 0, 0, 0.2);
}
.banner__text {
  font-size: clamp(15px, 2.6vw, 25px);
}
.banner__text:nth-child(3) {
  margin-bottom: 25px;
}
.banner__img-wrapper {
  position: absolute;
  display: block;
  z-index: -1;
  right: 0;
  height: clamp(330px, 55vw, 530px);
  aspect-ratio: 1;
  background: url("./src/img/banner-watch.png") center/contain no-repeat;
}

.workout-tracking {
  height: 1000px;
}
.workout-tracking__container {
  align-items: center;
  height: 100%;
  gap: 40px;
}
.workout-tracking__first-background {
  position: relative;
  height: 100%;
  width: 75%;
  opacity: 0.6;
  background: url("./src/img/woman-with-watch.jpg") center/cover no-repeat;
}
.workout-tracking__second-background {
  height: 100%;
  width: 25%;
  background: linear-gradient(8deg, rgba(113, 104, 173, 0.71) 0%, rgba(113, 104, 173, 0.46) 24%, rgb(92, 86, 143) 38%, rgb(35, 35, 35) 55%, rgb(0, 0, 0) 100%);
}
.workout-tracking__wrapper-content {
  display: flex;
  position: absolute;
  justify-content: space-around;
  z-index: 100;
  width: 100%;
  flex-wrap: wrap;
}
@media (max-width: 1050px) {
  .menu__list {
    gap: 15px;
  }
  .banner__content {
    left: 0;
  }
  .workout-tracking__img-devices {
    display: none;
  }
}
@media (max-width: 660px) {
  .banner__block-img {
    height: 300px;
    width: 300px;
  }
  .content {
    gap: 10px;
  }
}
@media (max-width: 420px) {
  .sidebar {
    width: 100vw;
  }
  .watch-functions {
    gap: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
