@import
"src/scss/_root.scss",
"src/scss/_globals.scss",
"src/scss/_button.scss",
"src/scss/_classes-often.scss",
"src/scss/_menu.scss",
"src/scss/_title.scss",
"src/scss/_watch-functions.scss",
"src/scss/_content.scss"
;


@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  z-index: 10000;
  position: absolute;
  width: 100%;
  transition-duration: 0.5s;
  @include flex-center();
}

.main {
  margin-bottom: 250px;
}

@keyframes headerSticky {
  from {
    top: -50px;
    opacity: 0;
  }to {
     opacity: 1;
   }
}
@keyframes headerDefault {
  from {
    opacity: 1;
  }to {
       top: -50px;
     opacity: 0;
   }
}

.header__container {
  min-height: 83px;
  width: 90%;
  flex-wrap: wrap;
  align-items: center;
  background-color: transparent;
}

.background-top {
  //height: 1080px;
  background: linear-gradient(143deg, rgb(105, 54, 101) 0%, rgba(86, 47, 80, 0.92) 0%, rgba(35, 35, 35, 1) 15%, rgba(35, 35, 35, 1) 98%);
}

.logo--block {
  position: relative;
  left: 50px;
  width: 200px;
  &::before {
    content: " ";
    position: absolute;
    z-index: 100;
    top: 7.5px;
    left: -35px;
    height: 25px;
    width: 25px;
    color: white;
    transition-duration: 0.4s;
    background: url("./src/icon/logo-icon.svg")  center / contain no-repeat;
  }
  &:hover::before {
    transition: 0.4s;
    content: "";
    background: url("./src/icon/logo-icon-hover-purple.svg")  center / contain no-repeat;
  }
}
.logo--link {
  font-size: 27px;
  line-height: 1.5em;
}

.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  right: 0;
  z-index: 100;
  top: 150px;
  height: 75%;
  width: 420px;
  opacity: 0;
  font-family: Arial;
  background-color: black;
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    color: black;
    border-radius: 15px 15px 0 0 ;
    background-color: white;
  }
  &__title {
    font-size: 23px;
    font-weight: 400;
  }
  &__text {
    font-weight: 700;
  }
  &__cross {
    position: absolute;
    right: 50px;
    &:hover:before {
      background: url("./src/icon/cross-hover-gray.svg")  center / contain no-repeat;
    }
  }
  &__cross:before {
    content: " ";
    position: absolute;
    z-index: 100;
    top: -12.5px;
    left: 0px;
    height: 25px;
    width: 25px;
    color: white;
    transition-duration: 0.4s;
    background: url("./src/icon/cross.svg")  center / contain no-repeat;
  }
  &__content {
    overflow: auto;
    height: 100%;

    .products {
      &__list {
        padding: 20px;
      }
      &__item {
        display: flex;
        height: 150px;
        gap: 20px;
      }
      &__description {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
      }
      &__header-part {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &__footer-part {
        display: flex;
        justify-content: space-between;
      }
      &__block-image {
        height: 75px;
        max-width: 75px;
        border: 1px solid gray;
      }
      &__title {
        font-size: 18px;
      }
      &__quantity--input {
        text-align: center;
        width: 90px;
      }
      &__button {
        width: 45px;
        background-color: transparent;
      }
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    height: 180px;
    gap: 10px;
    position: relative;
    padding: 20px;
    bottom: 0px;
    left: 0;
    width: 100%;
  }
  &__total-sum {
    display: flex;
    justify-content: space-between;
  }
  &__sum-text{
    font-size: 20px;
  }
  //button:not(.sidebar__button-cross) {
  //  height: 42px;
  //  width: 100%;
  //  letter-spacing: 1px;
  //}
  &__button--purple {
    color: white;
    background-color: var(--background-button-purple);
    border: 1px solid var(--color-purple);
    &:hover {
      background-color: rgb(112, 54, 164);
    }
  }
  &__button--white {
    color: var(--color-purple);
    background-color: white;
    border: 1px solid var(--color-purple);
    &:hover {
      background-color: #ffdaff;
    }
  }
}

.sidebar.sidebar-active {
  animation: 0.5s sidebar-active ease;
  opacity: 1;
}

.sidebar-not-active {
  animation: 0.5s sidebar-not-active ease;
}

@keyframes sidebar-active {
  from {
    right: -50px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}
@keyframes sidebar-not-active {
  from {
    right: 0px;
    opacity: 1;
  }
  to {
    right: -50px;
    opacity: 0;
  }
}

.banner {
  position: relative;
  z-index: 1;
  height: 100vh;
  @include flex-center();
  &__container {
    align-items: center;
  }
  &__content {
    position: relative;
    display: flex;
    left: 25px;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 100px 100px rgba(0, 0, 0, 0.2);
  }
  &__text {
    font-size: clamp(15px, 2.6vw, 25px);
    //font-size: clamp(15px, 0.026vw, 25px);
  }
  &__text:nth-child(3) {
    margin-bottom: 25px;
  }
  &__img-wrapper {
    position: absolute;
    display: block;
    z-index: -1;
    right: 0;
    //transform: rotate(-45deg);
    //opacity: 0.3;
    height: clamp(330px, 55vw, 530px);
    aspect-ratio: 1;
    background: url("./src/img/banner-watch.png") center / contain no-repeat;
  }
}


.workout-tracking {
  height: 100vh;
  &__container {
    align-items: center;
    height: 100%;
    gap: 40px;
  }
  &__first-background {
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    background: url("./src/img/woman-with-watch.jpg") center / cover no-repeat;
  }
  &__second-background {
    height: 100%;
    width: 25%;
    background: linear-gradient(8deg,rgba(113, 104, 173, 0.71) 0%, rgba(113, 104, 173, 0.46) 24%, rgba(92, 86, 143, 1) 38%, rgba(35, 35, 35, 1) 55%, rgba(0, 0, 0, 1) 100%);
  }
  &__wrapper-content {
    display: flex;
    position: absolute;
    justify-content: space-around;
    z-index: 100;
    width: 100%;
  }
  &__content {

  }
}

.product {
  user-select: text;
  position: relative;
  top: 200px;
  img {
    user-select: none;
  }
  &__container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
 &__view {
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 500px;
   .model {
      .item--active {
        border: 1px solid white;
      }
   }
 }
  .buying {
    width: 355px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__select--text,
    &__quantity--text,
    &__quantity--input,
    &__info--show-content,
    &__info--title,
    .button-main--big,
    {
      user-select: none;
    }
    &__text {

    }
    &__price-text {
      font-size: 24px;
    }
    &__select {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &--list  {
        display: flex;
        gap: 15px;
      }
      &--button {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 1px solid white;
      }
      .color--white {
        background-color: white;
      }
      .color--black {
        background-color: black;
      }
      .color--blue {
        background-color: blue;
      }
      .color--purple {
        background-color: purple;
      }
      .color--green{
        background-color: #3aa9a6;
      }
      &--color {
        border-radius: 50%;
      }
      &--error-text {
        font-size: 14px;
        color: red;
      }
    }

    &__quantity {
      display: flex;
      flex-direction: column;
      gap: 10px;
      &--input {
        text-align: center;
        width: 100px;
      }
    }
    &__info {
      padding-top: 30px;
      &--wrapper-head {
        display: flex;
        justify-content: space-between;
        &:hover {
          opacity: 0.8;
          //color:  rgba(35, 35, 35, 1);
        }
      }
      &--list {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      &--item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        &:after {
          content: "";
          border-bottom: 1px solid white;
        }
      }
    }
  }
  .model {
    &__select {
      &--list  {
        display: flex;
      }
    }
    &__img {
      height: 500px;
      width: 500px;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  min-height: 220px;
  &__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .navigation-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 75px;
    gap: 50px;
    border-bottom: 1px solid white;
    &__list {
      flex-wrap: wrap;
      display: flex;
      gap: 20px;
    }
    &__item {

    }
  }
  .copyright {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
    &__text {
      a {
        text-decoration: underline;
      }
    }
    .payment-methods {
      &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }
      &__item {
        img {
          height: 23px;
          width: 43px;
        }
      }
    }
  }
}


.working-conditions {
  position: relative;
  //height: 80vh;
  top: 200px;
  display: flex;
  justify-content: center;
  &__container {
    gap: 60px;
    padding-inline: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
  }
  .any-moments {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  &__title {
    line-height: clamp(40px, 6vw, 60px);
    font-size: clamp(22px, 2.2vw, 50px);
    &--small {
      line-height: clamp(40px, 6vw, 60px);
      font-size: clamp(18px, 1.7vw, 22px);
    }
  }
  &__list {
    padding-inline: 40px;
  }
  &__text {
    font-size: clamp(14px, 1.5vw, 17px);
  }
}

@import
"src/scss/_media.scss"
;