@import
"src/scss/_root.scss",
"src/scss/_globals.scss",
"src/scss/_button.scss",
"src/scss/_classes-often.scss",
"src/scss/_menu.scss"
;

.header__container {
  height: 83px;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
}

.background-top {
  background: linear-gradient(143deg, rgb(105, 54, 101) 0%, rgba(86, 47, 80, 0.92) 0%, rgba(35, 35, 35, 1) 15%, rgba(35, 35, 35, 1) 98%);
}
.banner {
  height: 100vh;
}

.logo--block {
  position: relative;
  &::before {
    content: " ";
    position: absolute;
    z-index: 100;
    top: 7.5px;
    left: -35px;
    height: 25px;
    width: 25px;
    color: white;
    transition-duration: 0.4s;
    background: url("./src/icon/logo-icon.svg")  center / contain no-repeat;
  }
  &:hover::before {
    transition: 0.4s;
    content: "";
    background: url("./src/icon/logo-icon-hover-purple.svg")  center / contain no-repeat;
  }
}
.logo--link {
  font-size: 27px;
  line-height: 1.5em;
}

.sidebar {
  position: absolute;
  display: flex;
  flex-direction: column;

  right: 0;
  z-index: 100;
  top: 100px;
  height: 75%;
  width: 420px;

  opacity: 0;
  font-family:  helvetica-w01-roman;

  background-color: black;
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    color: black;
    background-color: white;
  }
  &__title {
    font-size: 23px;
    font-weight: 400;
  }
  &__cross {
    position: absolute;
    right: 50px;
    &:hover:before {
      background: url("./src/icon/cross-hover-gray.svg")  center / contain no-repeat;
    }
  }
  &__cross:before {
    content: " ";
    position: absolute;
    z-index: 100;
    top: -12.5px;
    left: 0px;
    height: 25px;
    width: 25px;
    color: white;
    transition-duration: 0.4s;
    //background-color: black;
    background: url("./src/icon/cross.svg")  center / contain no-repeat;

  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    padding: 20px;
    bottom: 0px;
    left: 0;
    height: 180px;
    width: 100%;
  }
  &__total-sum {
    display: flex;
    justify-content: space-between;
  }
  &__sum-text{
    font-size: 20px;
  }
  button:not(.sidebar__button-cross) {
    height: 42px;
    width: 100%;
    letter-spacing: 1px;
  }
  &__button--purple {
    color: white;
    background-color: var(--background-button-purple);
    border: 1px solid var(--color-purple);
    &:hover {
      background-color: rgb(112, 54, 164);
    }
  }
  &__button--white {
    color: var(--color-purple);
    background-color: white;
    border: 1px solid var(--color-purple);
    &:hover {
      background-color: #ffdaff;
    }
  }
}

.sidebar.sidebar-active {
  animation: 1s sidebar-active ease;
  opacity: 1;
}

.sidebar-not-active {
  animation: 1s sidebar-not-active ease;
}

@keyframes sidebar-active {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes sidebar-not-active {
  from { opacity: 1; }
  to { opacity: 0; }
}