.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: 0.4s;
  &-main {
    border-radius: 25px;
    height: 45px;
    width: 165px;
    color: white;
    background-color: var(--background-button-purple);
    box-shadow: var(--shadow-button-purple);
  }
  &-main:hover{
    color: var(--color-purple);
    background-color: white;
    box-shadow: 0.00px 1.00px 20px 0px rgb(219, 191, 241);
  }
  &-main--small {
    height: 40px;
    width: 130px;
  }
}
