:root {
  --shadow-button-purple: 0.00px 1.00px 20px 0px rgba(125, 43, 196, 1);
  --background-button-purple: rgb(152, 73, 222);

  --color-purple: rgba(125, 43, 196, 1);
  --background-color-black: rgb(35, 35, 35);
}